# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Django specific
*.log
*.pot
*.pyc
staticfiles/
media/

# Environment
.env
venv/
ENV/
env/
.venv/

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/
