asgiref==3.8.1
cffi==1.17.1
cryptography==45.0.2
Django==5.2.1
pycparser==2.22
PyMySQL==1.1.1
sqlparse==0.5.3
whitenoise==6.9.0

gunicorn==21.2.0
mysqlclient==2.2.4
psycopg2-binary>=2.9.9
python-dotenv
pymysql==1.1.1
django-widget-tweaks
docx2pdf
python-docx
waitress
Pillow
dj-database-url
